mixin clients-comments-item
  .client-comment-item
    .client-comment-item-box
      img.img(src="../images/client-comment-avatar.jpg", alt="Аватар")
      .client-comment-item-box__text
        .text-box
          .client-comment-item-box__name.text-lg Коля
          .text-box__item
            svg.icon
              use(xlink:href="#icon-clients-comments")
            .text-lg 30.06.2019 в 12:41
        .text-lg Да заказывал по вашей инфе своему отцу Кардитонус. И правда эффектиный препарат. Прошли курс давление теперь 135/90. Очень хороший! Посмотрим, что покажет через месяц, но я пока доволен очень покупкой. Отец вообще в принципе ожил после этого Кардитонуса. Так что вам спасибо за то, что распространяете официальную инфу, а то сейчас столько мошенничества!
        a(href="#").link_3 Ответить

    .response-comment
      img.img(src="../images/response-comment-avatar.jpg", alt="Аватар")
      .response-comment__text
        .text-box
          .response-comment__name.text-lg Куринная Вероника Владимировна
          .text-box__item
            svg.icon
              use(xlink:href="#icon-clients-comments")
            .text-lg 30.06.2019 в 12:41
        .text-lg Отличный результат, Николай! Спасибо вам за отзыв! Очень рады, что помогли вам информацией о Кардитонусе!
        a(href="#").link_3 Ответить