footer.footer
    .wrap
        .footer-box
            .text-md Сервис БАДов © 2020. Информация, опубликованная на сайте, носит исключительно ознакомительный характер и не является рекомендацией к применению. Перед применением препаратов -  проконсультируйтесь с вашим лечащим врачом!

include ./svg

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>