mixin product-item(src)
  .product-list__item
    a.product-item(href="#")
      .img-box
        img(src=src, alt="товар")
      .product-item-box
        ul.breadcrumb-list
          li.breadcrumb-list__item
            .text-md ДАВЛЕНИЕ (ГИПЕРТОНИЯ)
          li.breadcrumb-list__item
            span /
            .text-md КАРДИТОНУС
          li.breadcrumb-list__item
            span /
            .text-md ОПИСАНИЕ ВСЕХ БАДОВ
        .text-box
          .date 10.06.2019
          h5.title-s Кардитонус от ООО Вятская Корпорация: где купить, цена в аптеках, отзывы, инструкция по применению!
          p.text-lg Говорят, что Кардитонус развод! Якобы эффекта от препарата от гипертонии – нет! Но есть реальные отзывы покупателей, специалистов, которые говорят, что эффект есть! Поэтому наш Сервис Проверки Качества БАДов связался напрямую с производителем Кардитонус,...
