<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Сервис проверки бадов и препоратов

    //- favicons
  
    link(rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-touch-icon-57x57.png" data-mce-href="../images/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-touch-icon-60x60.png" data-mce-href="../images/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-touch-icon-72x72.png" data-mce-href="../images/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-touch-icon-76x76.png" data-mce-href="../images/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-touch-icon-114x114.png" data-mce-href="../images/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-touch-icon-120x120.png" data-mce-href="../images/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-touch-icon-144x144.png" data-mce-href="../images/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-touch-icon-152x152.png" data-mce-href="../images/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-touch-icon-180x180.png" data-mce-href="../images/favicons/apple-touch-icon-180x180.png")
    link(rel="icon" type="image/png" href="../images/favicons/favicon-32x32.png" sizes="32x32" data-mce-href="../images/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" href="../images/favicons/android-chrome-192x192.png" sizes="192x192" data-mce-href="../images/favicons/android-chrome-192x192.png")
    link(rel="icon" type="image/png" href="../images/favicons/favicon-96x96.png" sizes="96x96" data-mce-href="../images/favicons/favicon-96x96.png")
    link(rel="icon" type="image/png" href="../images/favicons/favicon-16x16.png" sizes="16x16" data-mce-href="../images/favicons/favicon-16x16.png")    
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="msapplication-TileImage" content="../images/favicons/mstile-144x144.png")
    meta(name="theme-color" content="#ffffff")
    link(rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css")
    link(rel="stylesheet" href="../css/style.css")
  body
    include ../templates/pug/ui/search
    include ../templates/pug/nav-section-item
    include ../templates/pug/important-material
    include ../templates/pug/comments-item

    include ../templates/pug/header

    main.main.detailed-info-service
      section.main-title
        .wrap
          .main-title-box
            img(src="../images/main-title-img(doctor).png", alt="Доктор")
            .text-box
              h1.title-lg Сервис проверки бадов и препоратов
              p.text-lg Равным образом консультация с широким активом способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. С другой стороны начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. С другой стороны укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. С другой стороны постоянный количественный рост и сфера нашей активности требуют от нас анализа систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий.
              p.text-lg Таким образом новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
              p.text-lg Равным образом рамки и место обучения кадров способствует подготовки и реализации новых предложений. Товарищи! начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.
              p.text-lg Равным образом консультация с широким активом способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. С другой стороны начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. С другой стороны укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. С другой стороны постоянный количественный рост и сфера нашей активности требуют от нас анализа систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий.
              p.text-lg Таким образом новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
              p.text-lg Равным образом рамки и место обучения кадров способствует подготовки и реализации новых предложений. Товарищи! начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.

    include ../templates/pug/footer
    script(src="../js/script.js")

